doctype html
html(lang='en')
    head 
        title Number Quiz 
    body
        h1 Number Quiz
        p The Current Score is: #{score}
        p You have completed the number quiz, with a score of #{score} out of #{count}.